<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <customErrors mode="Off"/>
  </system.web>
  <appSettings>
    <add key="ClientId" value="d4cc869f-8e2d-4460-85f0-05f9daa7ea20" />
    <add key="ClientSecret" value="J1rAVGDCIBcqdOMS3vpV+JMbnx0BaJ0/5PCpy4P8ODc=" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="sendEmailFromAddress" value="max@electromorph.co.uk" />
    <add key="sendEmailFromName" value="Max Davies" />
    <add key="sendEmailPassword" value="R0ttenroo4" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <!--Used by app for SharePoint-->
        <binding name="secureBinding">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <protocolMapping>
      <add binding="basicHttpBinding" scheme="https" bindingConfiguration="secureBinding" />
    </protocolMapping>
  </system.serviceModel>
</configuration>